natasha==0.9.0
pandas==0.23.1
pymorphy2==0.8
typing==3.6.6
seaborn==0.8.1
requests==2.19.1
Flask==1.0.2
dill==0.2.7.1
pymystem3==0.1.9
deeppavlov==0.1.5
scipy==1.1.0
numpy==1.16.0
matplotlib==2.0.2
Flask_HTTPAuth==3.2.4
jsonschema==2.6.0
razdel==0.1.0
alphabet_detector==0.0.7
nltk==3.2.5
API==0.0.7
scikit_learn==0.20.3
utils==0.9.0
